<div class="header clearfix">
  <div class="hamburger-wrapper">
    <a class="hamburger" {{action burger.state.actions.toggle}}><i aria-hidden="true" class="fa fa-bars"></i></a>
  </div>
  <div class="brand">

  </div>

</div>



    {{outlet}}
